.contato {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 80%;
  margin: auto;
  margin-top: 2rem;
  background-color: #464646;
  padding: 2rem;
  border-radius: 4rem;
  border: 1px solid white;
  box-shadow: 5px 5px 6px 5px #000000bd;
}


@media (max-width: 720px){
  .contato{
    flex-direction: column-reverse;
  }
}