.formaDeContato{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formaDeContato div{
    display: block;
    width: 100%;
}

.formaDeContato div a{
    color: white;
    text-decoration: none;
}

.formaDeContato div img{
    width: 8rem;
}

@media (max-width: 720px){
    .formaDeContato{
        flex-direction: row;
    }

    .formaDeContato div img{
        width: 4rem;
    }

    .formaDeContato h3{
        display: none;
    }
  }