.imgPerfil{
    width: 20rem;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0 0 12px 4px #ffffff6b;
    animation: luzPiscando 2s infinite;
}

@keyframes luzPiscando{
    0% {
        box-shadow: 0px 0px 12px 4px #ffffff6b;
    }
    50% {
        box-shadow: 0px 0px 12px 4px lightslategray;
    }
    100% {
        box-shadow: 0px 0px 12px 4px #ffffff6b;
    }
}